{% load static %}
<footer class="text-center text-uppercase"> 
  <div class="copyright pt-4 text-muted text-center">
    <p>&copy; 2023 Mhalisia | designed by <a href="#" title="ATHUMANI - +255622071523 - athumanishabani18@gmail.com" target="_blank">Ghetto_labs</a> </p>
    <!--
    This template is licenced under Attribution 3.0 (CC BY 3.0 PL),
    You are free to: Share and Adapt. You must give appropriate credit, you may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.
    --> 
</div>
</footer>
<div class="fb2022-copy">copyright Ghetto_labs</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="{% static './js/script.js' %}"></script>
</body>
</html>
