      <!-- the main section for the list of the news-->
      {% extends 'base.html' %}
      {% load static %}
      {% block news %}
      <main>
        <div class="container">
          <div class="row mainmargin">
            <div class="blog col-md-8">
              <div class="all-posts">
                {% for post in news %}
                <div class="post-item">
                  {% if post.title_image %}
                  <div class="post-img"><img src="{{ post.title_image.url }}" alt=""></div>
                  {% endif %}
                  <div class="post-main-info">
                    <p class="post-title">{{ post.heading }}</p>
                    <div class="post-meta">
                      <span><i class="far fa-calendar"></i> {{ post.date_posted.date }}</span><span><i class="far fa-bookmark"></i> {{ post.post_category }}</span>
                    </div>
                    <p>{{ post.description|truncatechars:200 }}</p>
                    <a href="{{ post.get_url }}" class="main-button">Read More</a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            {% include 'includes/sidebar.html' %}
        </div>    
      </main>
      {% endblock news %}
  {% block footer %}
  {% include 'includes/footer.html' %}
  {% endblock footer %}

